pgdata/
backups/
.env
.env.local

assets/public/js/
assets/public/css/
assets/media/attachments/
assets/media/avatars/
assets/media/banners/
assets/media/guild_avatars/
assets/media/guild_banners/

node_modules/

main
*.exe
*.test
*.out

*.keyfile
*.key

.vscode/
.idea/
.DS_Store
*.swp
*.swo

.local/
